nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
body{
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.color{
    color: tomato;
}
nav>ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right:50px ;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 15px 35px;
}
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
.btn1{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
}
.btn2{
    color: #FD6E0A;
    border-color: #FD6E0A;
}
.bimg{
    width: 300px;
    height: 300px;
}